@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
/* GENERAL CSS */
* {
    margin: 0;
    padding: 0;

}

body {
    font-family: "Poppins", "sans-serif";
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85);
}

/* Transisions */

a, .btn {
    transition: all 300ms ease;     
}

/* Navigation for desktop */

nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
    background: #a6dee2;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a  {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: gray;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 1811, 181);
}

.logo {
    font-size: 2rem;
}
.logo:hover {
    cursor: default;
}


section {
    padding-top: 4vh;
    height: 96vh;
    margin:  0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}
.section_pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section_text {
    align-self: center;
    text-align: center;
}

.section_text p {
    font-weight: 600;
}

.section_text_p1 {
    text-align: center;
}

.section_text_p2 {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 3rem;
    text-align: center;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.icon {
    cursor: pointer;
    height: 2rem;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1 {
    border: rgb(53, 53, 53) 0.11rem solid;
}

.btn-color-1:hover {
    cursor: pointer;
    background: black;
    color: white;
}

#about {
    position: relative;
}

.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.about-details-container{
    justify-content: center;
    flex-direction: column;
}

.about-containers,
.about-details-container {
    display: flex;
}

.about-pic {
    border-radius: 2rem;
}

.arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}

.details-container {
    padding: 1.5rem;
    flex: 111;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
}

.expi{
    font-size: 20px;
}

.details-container h3{
    font-size: 30px;
}
.year {
    color: black;
    font-size: 20px;
}

.school {
    font-size: 15px;
}

.section-container {
    gap: 4rem;
    height: 80%;
}

.section_pic-container {
    height: 400px;
    width: 400px;
}

.text-container {
    font-size: 15px;
}

#projects {
    position: relative;
}

.color-container {
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250);
}

.project-img {
    border-radius: 2rem;
    width: 90%;
    height: 90%;
}

.project-btn:hover {
    cursor: pointer;
    background: black;
    color: white;
}

#experience {
    position: relative;
  }
  
  .experience-sub-title {
    color: rgb(85, 85, 85);
  }
  
  .logo-image {
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin-top: -6px;
}

.logo-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.section_text {
    text-align: center; /* Center the content */
}

.center-container {
    display: inline-block; /* Center the logo within the container */
}


  

